html{
  scroll-behavior: smooth;
}
/* 
===================
CSS VARIABLES
===================
*/
:root{
  /* colors */
--clr-dark:#0c090d;
--clr-light:#ffffff;
--clr-highlight:#e2e9ee;
--clr-primary:#eb644d;
--clr-purple: #9370db;
--clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
--clr-grey:#575757;
--clr-red-gradient: linear-gradient(to bottom right, #ee3322, #d23669);
--clr-purple-gradient: linear-gradient(to bottom right, #ba55d3, #9370db);
  /* transitions */
--transition: all 0.3s linear;
--long-transition: all 1.5s ease;
  /* spacing */
--spacing: 0.25rem;
  /* radius */
--radius: 0.25rem;
  /* box shadow */
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* width */
--max-width: 1280px;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  color: var(--clr-grey);
  line-height: 1.5;
  font-size: 0.9rem;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  display: block;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {font-size: 2.8rem;}
h2 {font-size: 1.9rem;}
h3 {font-size: 1.2rem;}
h4 {font-size: 1rem;}
p {margin-bottom: 1.25rem;}

@media screen and (min-width: 800px) {
  h1 {font-size: 4rem;}
  h2 {font-size: 2.5rem;}
  h3 {font-size: 1.75rem;}
  h4 {font-size: 1.25rem;}
  body {font-size: 1.1rem;}
  h1, h2, h3, h4 {
  line-height: 1;
  }
}


/* global classes */

.btn {
text-transform: uppercase;
background: var(--clr-purple-gradient);
color: var(--clr-light);
padding: 0.6rem 0.9rem;
letter-spacing: var(--spacing);
display: inline-block;
font-weight: 700;
transition: var(--transition);
font-size: 1rem;
border: 2px solid ;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
opacity: 0.9;
}
.btn:hover {
background: transparent;
opacity: 1;
}
.btn:focus{
outline: none;
}

/* section */

.section {
padding: 5rem 0;
}

.section-center {
width: 90vw;
margin: 0 auto;
max-width: 1280px;
}
@media screen and (min-width: 992px) {
.section-center {
width: 95vw;
}
}




/*
===============
HEADER
===============
*/

.hero{
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./bcg.jpg) center/cover fixed no-repeat;
}
.hero-banner{
  text-align: center;
}

.game-title{
margin-bottom:4rem;
text-align: center;
text-transform: uppercase;
color: var(--clr-light);
text-shadow: 5px 5px 5px var(--clr-red-dark);
padding: 1rem;
}

.game-rules{
  max-width: 45rem;
  margin: 2rem auto;
  padding: 0 2rem;
}
.game-rules h3,p,ul{
  color: var(--clr-light);
  line-height: 1.5;
}
.game-rules h3{
  margin-bottom: 2rem;
}

.hero-btn{
  margin-top: 2rem;
  font-size: 2rem;
  border-radius: 0;
  padding: 0.5rem 1rem;
  color: var(--clr-light);
  transition: var(--transition);
  background: var(--clr-red-gradient);
}
.hero-btn:hover{
  transform: scale(1.05);
  background: var(--clr-red-gradient);
}
.hero-btn i{
  font-size: 2.3rem;
}





/*
===============
GAME
===============
*/

.game{
  min-height: 100vh;
  background: #000;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./game-bcg.jpg) center/cover  no-repeat;
}
.game .game-title{
  margin-top: 0;
}

.btns-container{
  max-width: 40rem;
  margin: 0 auto 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.player-block{
  background: rgb(245, 245, 245);
  padding: 3rem 2rem;
  text-align: center;
}
.player-name{
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
}
.player-score{
  color: var(--clr-purple);
  margin-bottom: 7rem;
}

.current-score-box{
  background: var(--clr-red-gradient);
  display: inline-block;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 50%;
}
.current-score-label{
  text-transform: uppercase;
  color: var(--clr-light);
}
.player-current-score{
  color: var(--clr-light);
}

button i{
  color: var(--clr-light);
  margin-right: 1rem;
  font-size: 1.2rem;
}
.btn-new{
  background: var(--clr-red-gradient);
}

.dice{
  height: 100px;
  width: 100px;
  border-radius: 0.5rem;
  box-shadow: var(--dark-shadow);
}
.dice-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin: 0 auto;
}
.btn-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}

.form-control{
  outline: none;
  border: 2px solid transparent;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  text-align: center;
  background: var(--clr-red-gradient);
  color: var(--clr-light);
  width: 15rem;
  border-radius: var(--radius);
}
.form-control::placeholder{
  color: var(--clr-light);
}

.btn-roll:hover, .btn-hold:hover{
  background: transparent;
  color: var(--clr-purple);
  border-color: var(--clr-purple);
}
.btn-roll:hover i, .btn-hold:hover i{
  color: var(--clr-purple);
}
/* ******************************************************** */
.game-center{
  background: var(--clr-light);
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
}
.btn-new{
  width: 15rem;
  border-radius: var(--radius);
  color: var(--clr-light);
  border-color: transparent;
}
.btn-new:hover {
  background: var(--clr-red-gradient);
}
.dice-roll-cell{
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width:800px) {
.game-center{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
}
.btns-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.grid-set{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 1.5rem 1rem;
}
.player-score{
  align-self: center;
  margin-bottom: 0;
}
.current-score-box{
  padding: 1.5rem 1rem;
}
.player-block{
  padding: 2rem 1rem;
}
.dice-container{
  margin-bottom: 1.5rem;
}
}


@media screen and (max-width:481px) {
  .player-block{
  padding: 0.8rem 1rem 0rem;
}
.dice-roll-cell{
  padding: 0rem 2rem 1rem;
  justify-content: space-between;
}
.grid-set{
  padding-top: 0;
}
.game .game-title{
  margin-top: -4.5rem;
}
.game-title{
  margin-bottom: 2rem;
}
.game-rules{
  margin: 1rem auto;
}
.margin-top{
  margin-top: 1rem ;
}
}
/* ******************************************************** */



/* active class */
.active {
  background:var(--clr-highlight)
}
.active .player-name { 
  color: var(--clr-dark);
}

.active .player-name::after {
  content: "\2022";
  font-size: 3rem;
  position: absolute;
  color: var(--clr-primary);
  top: -1rem;
} 


/* winner class */

.winner{
background: var(--clr-highlight);
}
.winner .player-name{
color: var(--clr-red-dark);
font-weight: bold;
}
.winner .player-score{
color: var(--clr-red-dark);
}








